.card {
  align-items: center;
  background: url("../../assets/images/bg-pattern-card.svg") no-repeat $white;
  border-radius: $border-radius-16;
  box-shadow: 0px 1rem 20px rgba(0, 0, 0, 0.2);
  @include flex-column();
  max-width: 21.875rem;
  padding-top: calc($space-92 - 5px);
  position: relative;
  width: 100%;
  z-index: 0;

  &__body {
    align-items: center;
    border-bottom: 1px solid $dark-grey;
    @include flex-column($space-24);
    padding-bottom: $space-24;
    width: 100%;
    z-index: 0;
  }

  &__avatar {
    aspect-ratio: 1/1;
    border-radius: 50%;
    border: 5px solid $white;
    display: block;
    height: 6rem;
    object-fit: cover;
    width: 6rem;
  }

  &__info {
    align-items: center;
    @include flex-column($space-8);
  }

  &__name {
    color: $very-dark-desaturated-blue;
    display: flex;
    font-weight: 700;
    gap: $space-8;
  }

  &__age {
    color: $dark-grey;
    font-weight: 400;
  }

  &__location {
    color: $dark-grayish-blue;
    font-size: $font-size-14;
  }

  &__footer {
    display: flex;
    justify-content: space-evenly;
    padding: $space-24;
    width: 100%;
  }

  &__stats {
    align-items: center;
    @include flex-column($space-6);
  }

  &__number {
    color: $very-dark-desaturated-blue;
    font-weight: 700;
  }

  &__label {
    color: $dark-grey;
    font-size: $font-size-10;
    letter-spacing: $letter-spacing-1_5;
  }
}
