// COLORS
// Primary
$dark-cyan: hsl(185, 75%, 39%);
$very-dark-desaturated-blue: hsl(229, 23%, 23%);
$dark-grayish-blue: hsl(227, 10%, 46%);

// Neutral
$white: hsl(0, 0%, 100%);
$dark-grey: hsl(0, 0%, 46%);

// TYPOGRAPHY
$font-name: "Kumbh Sans", sans-serif;
$font-size-18: 1.125rem;
$font-size-14: 0.875rem;
$font-size-10: 0.625rem;

$letter-spacing-1_5: 1.5px;

// SPACING
$space-92: 5.75rem;
$space-24: 1.5rem;
$space-8: 0.5rem;
$space-6: 0.375rem;

// BORDERS
$border-radius-8: 0.5rem;

// BREAKPOINTS
// $breakpoint: 46.25rem;
